{% extends "i/layout/base.html" %}

{% block title %} {{ title }} {% endblock %}



{% block header %}
	
{% endblock %}


{% block jumbotron %}
<div class="jumbotron-home-page">
	<h1>Largest collection of Nigeria's most creative and efficient tailors {{ name }}</h1>
	<h2>Outfits just for you.</h2>
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4 action-button-wrapper-home">
		<a href="/suave/register" class="action-button-home">Get Started</a>
	</div>

</div>






		<div class="container">
			<div class="row">
				<h1 class="page-header">
					{{ hold }}<br>
					{{ randomized }}
				</h1>



				<div class="col-lg-3">
					{% for item in items %}
						<div class="item">
							{{ item.name }}
							<img src="/static/img/{{ item.image_url }}">
						</div>
					{% endfor %}
				</div>

				<div class="col-lg-3">
					{% for i in scrambled %}
						{{ i.unique_id }}
					{% endfor %}
				</div>
			</div>
		</div>

{% endblock %}


{% block main_section %}

{% endblock %}