{% extends "p/layout/base.html" %}

{% block title %} {{ title }} {% endblock %}



{% block header %}

{% endblock %}


{% block jumbotron %}
	<div class="container page-header">
		<h1>Image/ Text Matching and Pattern Recognition</h1>
	</div>
{% endblock %}


{% block main_section %}
	<div class="container home_page">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<h2>Example</h2>
				<p>From the description table enter the number that best matches the image</p>
				<br><br>
				<div class="item">
					<div class="item-img-div"><img src="/static/img/	see_by_chloe.jpg" class="img"></div>
					<p>Enter number</p>
					<p><input type="text" class="form-control" name="{{ item.unique_name }}" value="3"></p>
					</div>
					<br>
				<a href="{% url 'pattern:test' %}" class="btn btn-success btn-lg">Start Test</a>
				<br><br><br>
				<p>At the end of the test, click the submit button to get the result.</p>
				<br><br><br>
				</div>
				<div class="col-lg-4">
					<div class="desc" style="margin-top:200px">
						<h3>Description Table</h3>
						3<br>
						<p>Nice Shoe</p>
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}